graft src/pyemd
graft test

include README.rst
include LICENSE
include CHANGELOG.rst
graft changelog.d
include conftest.py
include meson.build
include pyproject.toml

global-exclude __pycache__ *.py[cod]
global-exclude *.so *.dylib
