[build-system]
requires = ["setuptools>=61.0", "cython", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "pyemd"
version = "0.5.1"
authors = [{ name = "Will Mayner", email = "wmayner@gmail.com" }]
description = "A Python wrapper for Ofir Pele and Michael Werman's implementation of the Earth Mover's Distance."
readme = "README.md"
license = { file = "LICENSE" }
classifiers = [
	'Development Status :: 3 - Alpha',
	'Intended Audience :: Developers',
	'Natural Language :: English',
	'License :: OSI Approved :: MIT License',
	'Programming Language :: Python :: 2',
	'Programming Language :: Python :: 3',
]
dynamic = ['dependencies']

[project.urls]
"Homepage" = "https://github.com/wmayner/pyemd"
"Bug Tracker" = "https://github.com/wmayner/pyemd/issues"
